* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #fff;
    background-color: #363636;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
}

.flag {
    max-width: 300px;
    height: auto;
    padding: 0px;
    padding-top: 20px;
}

.header {
    text-align: center;
    margin-top: 20vh;
    margin-left: 20vw;
}



h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 82px;
}

h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
}

h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
}

.nextMeeting {
    margin-top: 50px;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 41px;
}

.location {
    position: relative;
    right: 0%;
    text-align: right;
    float: right;
}

.references {
    margin: 0 10vw;
    display: inline-block;
}

.quickLinks {
}

.submitProject {
    margin-top: 50px;
}

a:link,
a:visited,
a:link:active,
a:visited:active {
    /* color: rgba(127, 17, 57, 0.8); */
    color: #E42D40;
    text-decoration: underline;
    cursor: auto;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
}

.submitForm {
    background-color: #fff;
    border-radius: 20px;
    color: black;
    padding: 10px;
}

button {
    background: #E42D40;
    border-radius: 10px;
    width: 80px;
    height: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}
}
=======
}
>>>>>>> parent of 9525d69... Still need to style form inputs
=======
}
>>>>>>> parent of 9525d69... Still need to style form inputs
=======
}
>>>>>>> parent of 9525d69... Still need to style form inputs
=======
}
>>>>>>> parent of 9525d69... Still need to style form inputs
