:root {
    --color--primary: #009688;
    --color--primary__dark: #00796B;
    --color--primary__light: #B2DFDB;
    --color--accent: #FF5252;
    --color--text: #ffffff;
    --color--text__primary: #212121;
    --color--text__secondary: #757575;
    --color--divider: #BDBDBD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.7;
    color: var(--color--text);
}

h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 3rem;
    line-height: 3.25rem;
    margin: 0.75rem 0 1.5rem 0;
}

h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.75rem;
    color: var(--color--text__primary);
    margin-bottom: 1rem;
}

h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 0rem;
    margin-bottom: 0.7rem;
}

h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.7rem;
    color: var(--color--primary__light);
}

a {
    background:
        linear-gradient(to bottom, var(--color--accent) 0%,
            var(--color--accent) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    color: #000;
    text-decoration: none;
    transition: background-size .3s;
}

a:hover {
    background-size: 4px 50px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

hr {
    width: 400px;
    color: var(--color--primary__light);
}

/* ----------
Header
---------- */

.header {
    background-color: var(--color--primary);
    background-size: cover;
    background-position: top;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
    padding-top: 1.5rem;
    padding-bottom: 5rem;
}

.header a {
    color: var(--color--text);
}

.hackclub--flag {
    max-width: 300px;
}

.header--main {
    padding: 4rem;
    display: grid;
    justify-content: center;
}

.nextMeeting {
    display: flex;
    justify-content: flex-start;
    padding: 0;
}

.calendar {
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;
    text-align: center;
    width: 96px;
    height: 96px;
    border-color: var(--color--text);
    border-style: solid;
    border-width: 3px;
    border-radius: 16px;
    font-weight: 800;
}

.month {
    line-height: 1;
    background-color: var(--color--text);
    color: var(--color--text__primary);
    font-size: 1.5rem;
    padding: 0.2rem 0;
}

.day {
    line-height: 1.25;
    font-size: 3rem;
    color: var(--color--accent);
}

.nextMeeting--text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 0.1rem;
    margin-left: 1rem;
}

.NextMeeting--text__reminder {
    font-weight: 700;
    /* margin-bottom: 0.3rem; */
}

/* ----------
Content 
----------*/

.content {
    margin: 10rem;
    color: var(--color--text__primary);
}

.about {
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-column-gap: 10rem;
}

.about--text {
    color: var(--color--text__secondary);
    /* width: 600px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.illustration {
    max-width: 100%;
    max-height: auto;
}

.resources {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-around;
    margin: 5rem auto;
    text-align: center;
}

.resource--item {
    background-color: var(--color--primary__light);
    border-radius: 16px;
    width: 400px;
    padding: 2rem 3rem;
}

.form__group {
    text-align: left;
}

.form__input {
    font-size: 1rem;
    font-family: inherit;
    padding: .5rem 1rem;
    color: inherit;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 100%;
    transition: all .3s;
}

.form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid var(--color--primary);
}

.form__input:focus:invalid {
    border-bottom: 3px solid var(--color--accent);
}

.form__input::-webkit-input-placeholder {
    color: var(--color--text__primary);
}

.form__label {
    font-size: 1rem;
    font-weight: 700;
    margin-left: 1rem;
    margin-top: .2rem;
    margin-bottom: .7rem;
    display: block;
    transition: all .3s;
}

.form__input:placeholder-shown+.form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
}


.btn {
    /* Clearing default button styles */
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding: 0;

    background-color: var(--color--accent);
    color: var(--color--text);
    padding: 0.5rem;
    border-radius: 16px;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.footer {
    height: 5vh;
    background-color: var(--color--primary__dark);
}

/* ----------
Testing
---------- */